.loginContainer {
    text-align: center;
    justify-content: center;
    background-image: url("../../assets/backgroundImg.png");
    width: 100%;
    height: 100vh;
    top: 0;
}

.lableContainer {
    text-align: center;
    justify-content: center;
    color: black;
    padding-top: 56px;
}

.formcontainer {
    border-radius: 4px;
    margin: auto;
    margin-top: 52px;
    background-color: #ffffff;
    width: 30%;   
}

@media (max-width: 750px) {
    .formcontainer {
        width: 300px;
    }

    .appLabel {
        padding: 0 3% 0 3%;
    }
}

.invalidEmail {
    color: red;
}
.signInLable {
    padding: 0px;
    margin: 33px;
    font-size: 22px;
}
.MuiInputBase-input {
    height: 7px !important;
}
.MuiInputLabel-formControl {
    top: -6px !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #009fd5 !important;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #009fd5 !important;
}
.MuiInputBase-root {
    color: #009fd5 !important;
}
.MuiInputLabel-outlined {
    color: #009fd5 !important;
}
.MuiFormLabel-root.Mui-focused {
    color: #009fd5 !important;
}
.inputContainer {
    padding: 10px 0;
    width: 60%;
    min-height: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
   
}
.MuiButton-containedPrimary {
    color: white !important;
    background-color: #009fd5 !important;
    text-transform: capitalize;
}

.invalidUser {
    width: 19%;
    margin: 30px auto;
}
.MuiAlert-root {
    padding: 0 !important;
}

.applogo{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.MuiAlert-icon {
    padding: 7px 7px !important;
}

.appLabel {
    height: 46px;
    font-family: Avenir;
    font-size: 34px;
    font-weight: 500;

    color: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    justify-content: center;
}

.newUserLable{
height: 30px;
  font-family: Avenir-Roman;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #009fd5;
  padding-top: 2%;
}

.signUpLabel{
    font-family: Avenir;
    font-weight: 500;
    text-decoration: underline;
}
.newUserContainer{
    padding-top: 50px;
    position: relative;
    animation: myfirst 5s 1;
    animation-direction: alternate;
}
.loginFormContainer{
    position: relative;
    animation: myfirst 5s 1;
    animation-direction: alternate; 
    padding-top: 8%;
    padding-bottom: 8%;
}
.singUpBtn{
    width: 60%;
    margin: 19px auto;
}
.userAdded{
    margin: 10px auto;
    padding: 18px;
}

@keyframes myfirst {
    0%   {opacity: 0.2; left: -80px; top: 0px;}
    25%  {opacity: 1; left: 0px; top: 0px;}
   
  }

  .footer{
    bottom: 0px;
    position: fixed;
    right: 0;
    animation: footer 5s 1;
    animation-direction: alternate;
  }

  @keyframes footer {
    0%   {opacity: 0.2; bottom: -20px; right: 0px;}
    25%  {opacity: 1; bottom: 0px; right: 0px;}
   
  }

  .blackButton{
    -webkit-filter: blur(2px);
    filter: blur(2px);
  margin-bottom: 50px;
  }
  
  .whiteButton{
    margin-bottom: 50px;
  }

  .aboutContainer{
    position: absolute;
    right: 2%;
    bottom: 16%;
  }

  .footerMargin{
      bottom: -35%;
      position: absolute;
    right: 0px;
  }