.formContainer{
 
  width: 421px;
    height: 540px;
    border-radius: 13px;
    background-color: #ffffff;
    margin-top: -60vh;
    position: fixed;
    top: 0;
    margin-left: 31%;
    margin-top: 13%;
}
.invalidEmail{
    color: red;
    text-align: center;
}
.validUser{
    width: 247px;
    margin: auto;
    height: 60px;
}
.inputContainer{
    padding: 10px 0;
    width: 60%;
    min-height: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}
.addPadding{
    padding-top: 40px;
}

.crossIcon{
    display: flex;
    flex-direction: row-reverse;
}

.crossImg{
    margin-left: 16px;
    margin-top: -11px;
    left: 10;
    right: 3;
    position: fixed;
}
.fileInput{
    display: inline !important;
}

.textColor{
    color: black;
}
.errorMessage{
    color: red;
}