.tableContainer{
    width: 97%;
    margin: auto;
}
.addIcon{
    text-align: end;
}
.MuiFab-primary {
    height: 20px !important;
    width: 38px !important;
}
thead tr th{
    background: #009fd5 !important;
    color: black !important;
}
tbody tr {

height: 41px;
}
.MuiTableCell-root{
    padding: 7px !important;
}
.header{
    margin-top: 2%;
}
.MuiTableCell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
    width: 110px;
    height: 24px;
    object-fit: contain;
    font-family: Avenir-Roman;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff !important;
}

.loginContainer{
}
.blackButton{
    -webkit-filter: blur(2px);
    filter: blur(2px);
  margin-bottom: 50px;
  }
  
  .whiteButton{
    margin-bottom: 50px;
  }
.box-container {
    margin-top: -20px;
    margin-right: -2px;
    display: flex;
    justify-content: flex-end;

}

.box{
    vertical-align: middle;
    background-color: #cfe7ee;
    height: 45px;
    width: 10%;
    margin-right: 5px;
  }

  .box-heading{
    text-align: center;
    margin-top: 14px;
    object-fit: contain;
    font-family: Avenir;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
  }