.header-container{
    background: white;
    display: flex;
    flex-direction: row;
    top: 0;
    height: 70px;
    width: 100%;
}
.header-container .loginContainer{
display: none;
}

.logo{
    background: lightblue;
    width: 255px;
    height: 70px;
}
.inputcontainer{
    margin: 12px 43px;
}
.input{
    height: 34px;
    width: 292px;
    border-radius: 6px;
    padding-left: 37px;
    font-size: 14px;
    outline: none;
}
.addButton{
    margin: 12px 20px 0 675px;
}
.buttonicon{
    height: 40px;
    width: 163px;
}

.logout{
    margin: 21px 10px 0 20px;
    height: 23px;
    width: 28px;
}
.signOutLable{
    margin-top: 23px;
    color: grey;
}

.vertical-line {
    margin-top: 13px;
    height: 35px;
    border: solid 1px #d4d7e0;
}
  