.header-container {
  background: #009fd5;
  display: flex;
  flex-direction: row;
  top: 0;
  height: 70px;
  width: 100%;
}

.header-container .loginContainer {
  display: none;
}

.logo {
  background: #009fd5;
  width: 316px;
  height: 70px;
  position: absolute;
}

.inputcontainer {
  display: flex;
  align-items: center;
  margin-left: 6%;
  margin-top: 14px;
}

.input {
  height: 34px;
  width: 292px;
  padding-left: 37px;
  font-size: 14px;
  outline: none;
}

.addButton {
  display: flex;
  align-items: center;
  margin-left: 70%;
  margin-top: 24px;
  height: 24px;
  object-fit: contain;
  font-family: Avenir-Roman !important;
  font-size: 19px;
  font-weight: normal;
}

.uploadButton {
  display: flex;
  align-items: center;
  margin-right: 1%;
  margin-left: 29%;
  margin-top: 23px;
  height: 24px;
    object-fit: contain;
    font-family: Avenir-Roman !important;
    font-size: 19px;
    font-weight: normal;
}
.buttonicon {
  height: 40px;
  width: 163px;
}

.logincontainer {
  display: flex;
  align-items: center;
  padding-top: 17px;

}

.logout {
  margin-top: 5px;
  height: 23px;
  width: 28px;
}

.sign-out-container {
  margin-left: 13px;
  display: flex;
  align-items: center;
}

.signOutLable {
  color: white;
    padding: 5px 0 0 10px;
    position: absolute;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
}

.vertical-line {
  margin-top: 16px;
  margin-right: 14px;
  height: 36px;
  border: solid 1px white;
}


.appLogo{
  padding: 8px 20px;
}
.appName{
  padding: 21px 0;
  height: 23px;
  font-family: Avenir;
  font-size: 17px;
  font-weight: 900;
  color: #ffffff;
}
