.header-container {
  background: white;
  display: flex;
  flex-direction: row;
  top: 0;
  height: 70px;
  width: 100%;
}

.header-container .loginContainer {
  display: none;
}

.logo {
  background: lightblue;
  width: 255px;
  height: 70px;
}

.inputcontainer {
  display: flex;
  align-items: center;
  margin-left: 43px;
}

.input {
  height: 34px;
  width: 292px;
  border-radius: 6px;
  padding-left: 37px;
  font-size: 14px;
  outline: none;
}

.addButton {
  display: flex;
  align-items: center;
  margin-left: 44%;
  margin-right: 1%;
}

.buttonicon {
  height: 40px;
  width: 163px;
}

.logincontainer {
  display: flex;
  align-items: center;
}

.logout {
  margin-top: 5px;
  height: 23px;
  width: 28px;
}

.sign-out-container {
  margin-left: 13px;
  display: flex;
  align-items: center;
}

.signOutLable {
  color: grey;
}

.vertical-line {
  margin-top: 16px;
  margin-right: 14px;
  height: 36px;
  border: solid 1px #d4d7e0;
}
